.item {
    background-color: #888888;
    color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: opacity 1s; */
}

/* .transparent {
    opacity: 0;
}

.hiding {
    opacity: 0;
}

.showing {
    opacity: 1;
}

.hidden {
    display: none;
} */
